@import './variable.less';

html{
  scroll-behavior: smooth;
}
body{
  font-family:  "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: 0;
}
.flex{
  display: flex;
}
.flex-v-center{
  align-items: center;
}
.primary{
  color: @primaryColor;
}
.link{
  color: @linkColor;
}
.common{
  color: @commonColor;
}
.db{
  display: block;
}
img.responsive{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.ant-layout-sider-children{
  overflow: scroll;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.lh-32{
  line-height: 32px;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#renyimen-content{
  padding: 24px 28px 0;
}
.content-layout{
  transition: 0.4s;
}
.ant-layout-sider-dark .logo{
  a{
    color: #fff;
  }
  .title{
    color: #fff;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 20px;
  }
  .tagline{
    margin-top: -16px;
  }
}

.ant-divider-inner-text{
  padding: 1px 50px;
  background: #f5f5f5;
  border: 1px solid #dedee4;
  border-radius: 13px;
  font-weight: normal;
}

.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after{
  border-color: #dedee4;
}

.content-banner, .products-container{
  margin: 0 auto;
}

.content-banner{
  .slick-slide{
    background: none;
  }
  img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    min-height: 160px;
  }
}

.content-banner, .products-container{
  width: 1380px;
}

@media only screen and (max-width: 1440px) {
  .content-banner, .products-container{
    width: 1080px;
  }
}